.NavbarItems {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 13px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    z-index: 9999;
    width: 95%;
    height: 80px;
    padding: 0 30px;
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

.navbar-logo {
    color: #03045e;
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.navLinks {
    text-decoration: none;
    color: #134074;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navLinks i {
    padding-left: 10px;
}



.navLinks:hover {
    background-color: #13315c;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.nav-Links-mobile {
    display: none;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.2s ease-in-out;
    background: #fff;
}

button:hover {
    background: #007ea7;
    color: #fff;

}

.menu-icons {
    display: none;
    cursor: pointer;
}

@media screen and (max-width:850px) {
    .menu-icons {
        display: block;
    }

    .NavbarItems {
        z-index: 99;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        background: #fff;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.5s ease-in-out;
        border-radius: 13px;
    }

    .nav-menu.active {
        left: 0;
        transition: 0.5s ease-in-out;
        opacity: 1;
        z-index: -1;
    }

    .navLinks {
        display: block;
        padding: 1.5rem 0;
        font-size: 1.2rem;
        width: 100%;
    }

    .navLinks:hover {
        background: #13315c;
        transition: none;
    }

    /* .navLinks i {
        padding-left: 10px;
    } */

    button {
        display: none;
    }

    .nav-Links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        background: #134074;
        color: #fff;
        width: 50%;
        letter-spacing: 2px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
    }

    .menu-icons {
        font-size: 1.5rem;
        color: #000814;
    }

}